<h1><%= @facade.nation_header(@nation) %> Members</h1>
<h3>Number of members: <%= @members.count %></h3>
<% @members.each do |member| %>
	<h3 class="name"><%= member.name %></h3>
	<img class="photo" alt=<%= "no_source_url_for_#{member.name}" %> src=<%= member.photo %>>
	<% if member.allies %>
		<p class="allies">Allies: <%= member.allies.join(", ") %></p>
	<% else %>
		</p>Allies: None</p>
	<% end %>
	<% if member.enemies %></p>
		<p class="enemies">Enemies: <%= member.enemies.join(", ") %></p>
	<% else %>
		</p>Enemies: None</p>
	<% end %>
	<p class="affiliations">Affiliations: <%= member.affiliations %></p>
<% end %>